
@font-face {
    font-family: Kollektif;
    src: url(./fonts/kollektif/Kollektif.ttf);
}

@font-face {
    font-family: Krylon;
    src: url(./fonts/krylon/Krylon-Regular.woff);
}


html { 
    background: url(./imgs/teddy.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h3{
    font-family: 'Krylon',sans-serif;
    width: 45%;
}


a{
    font-family: 'Kollektif',sans-serif;
}

.bg-x{
    background-color: #22577a;
}

